{% extends './layout_1.html' %}

{% block title %}Cars{% endblock title %}

{% block main %}
<h1>Cars</h1>
<form action= "{{ url_for('create_car') }}" method="POST">
    <div class="mb-3">
        <label for="inputModel" class="form-label">Model</label>
        <input type="text" class="form-control" id="inputModel" name="inputModel">
    </div>
    <div class="mb-3">
        <label for="inputMake" class="form-label">Make</label>
        <input type="text" class="form-control" id="inputMake" name="inputMake">
    </div>
    <div class="mb-3">
        <label for="inputYear" class="form-label">Year</label>
        <input type="text" class="form-control" id="inputYear" name="inputYear">
    </div>
    <div class="mb-3">
        <label for="inputColor" class="form-label">Color</label>
        <input type="text" class="form-control" id="inputColor" name="inputColor">
    </div>
    <div class="mb-3">
        <label for="inputPrice" class="form-label">Price</label>
        <input type="text" class="form-control" id="inputPrice" name="inputPrice">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% for car in cars%}
    <div class="card">
        <div class="card-make">
            <h3><a href="{{url_for('car_by_id', id=car.id) }}">{{ car.make }}</a></h3>
        </div>
        <div class="card-model">
            <h5 class = "card-make"></h5>
            <p>{{ car.model }}</p>
        </div>
        <div class="card-year">
            <p>{{ car.year}}</p>
        </div>
        <div class="card-color">
            <p>{{ car.color }}</p>
        </div>
        <div class="card-price">
            <p>{{ car.price }}</p>
        </div>
        This post brought to you by: {{car.user.user_name}}
    </div>

{% endfor %}
{% endblock main %}  