{% extends './0_layout.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<h1>Reset Password</h1>
<form action="{{ url_for('auth.reset_password') }}" method="POST">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="oldPassword" name ="oldPassword"> 

    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock content %}